<!--Sobre mí-->
<section id="sobre-mi" class="sobre-mi">
    <div class="container text-center">
      <div class="row">
        <!--Foto mía-->
        <div class="col-3">
          <img
            src="assets/Foto Ale.jpg"
            alt="..."
            width="100%"
            title="Foto Alejandra"/>
          <h3 id="cursiva">Alejandra Visconti</h3>
          <a target="_blank" href="assets/CV de Ale.docx"><button type="button" class="btn btn-primary">CV Alejandra</button></a>
        </div>
        <div class="col-9">
          <h1 class="clh1">Sobre mí</h1>
          <h5 class="clh5">Programadora Full Stack Jr.</h5>
          <h4 class="clh4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            velit fuga doloribus assumenda numquam ipsum iure qui voluptas
            cum. Blanditiis cupiditate laboriosam veritatis commodi
            recusandae, fuga dignissimos asperiores vel aliquam.
          </h4>
        </div>
      </div>
    </div>
  </section>
