      <!--Educación-->
      <section id="educación" class="educación">
        <h1 class="clh1">Educación</h1>
        <div class="container">
          <div class="row">
            <div class="col-2">
              <img
                id="imagen"
                src="assets/UBA Veterinaria.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="col-1">
              <h3 class="clh3">Lorem ipsum.</h3>
            </div>
            <div class="col-9">
              <p class="clparrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                deleniti reprehenderit magnam nisi accusantium atque commodi
                quibusdam libero, tenetur doloribus natus iure iste quasi
                quaerat quod error ipsa ex. Maxime.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img
                id="imagen"
                src="assets/EscudoLenguasVivas.png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="col-1">
              <h3 class="clh3">Lorem ipsum.</h3>
            </div>
            <div class="col-9">
              <p class="clparrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                deleniti reprehenderit magnam nisi accusantium atque commodi
                quibusdam libero, tenetur doloribus natus iure iste quasi
                quaerat quod error ipsa ex. Maxime.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img
                id="imagen"
                src="assets/APLogo-20-20 (1).png"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="col-1">
              <h3 class="clh3">Lorem ipsum.</h3>
            </div>
            <div class="col-9">
              <p class="clparrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                deleniti reprehenderit magnam nisi accusantium atque commodi
                quibusdam libero, tenetur doloribus natus iure iste quasi
                quaerat quod error ipsa ex. Maxime.
              </p>
            </div>
          </div>
        </div>
      </section>
