/*para centrar las columnas*/
.col-2 {
  display: grid;
  place-items: center;
}

.col-1 {
  display: grid;
  place-items:center;
}

.col-9 {
  display: grid;
  place-items: center;
}

/*para el archivo tab*/
#dashboard {
  margin-top: 10rem;
}

#panel {
  margin-top: 10rem;
}