      <!--Proyectos-->
      <section id="proyectos" class="proyectos">
        <h1 class="clh1">Proyectos</h1>
        <div class="container"
        *ngFor="let proyecto of proyectos">
          <div class="row">
            <div class="col-2">
              <img
                id="imagen"
                [src]="proyecto.logoProyecto"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="col-1">
              <h3 class="clh3">{{proyecto.fechaProyecto}}</h3>
            </div>
            <div class="col-9">
              <p class="clparrafo">
                {{proyecto.descProyecto}}
              </p>
            </div>
          </div>
        </div>
      </section>
