      <!--Hard & Soft Skills"-->
      <section id="Hard & Soft Skills" class="Hard & Soft Skills">
        <h1 class="clh1">Hard & Soft Skills</h1>
        <br />
        <div class="container">
          <!--Iteración sobre la variable de instancia y presentacion de datos mediante interpolacion -->
          <div class="progress progress-striped" 
          *ngFor="let skill of skills">
            <div
              class="progress-bar progress-bar-danger" 
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              [style.width.%]="skill.porcentaje"
              >
              <span>{{skill.porcentaje}}% {{skill.habilidad}} </span>
            </div>
          </div>
        <!--  <div class="progress progress-striped">
            <div
              class="progress-bar progress-bar-danger"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            >
              <span>80% Liderazgo </span>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="progress progress-striped">
            <div
              class="progress-bar progress-bar-danger"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 90%"
            >
              <span>90% Adaptabilidad a los Cambios </span>
            </div>
          </div>
          <div class="progress progress-striped">
            <div
              class="progress-bar progress-bar-danger"
              role="progressbar"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width: 80%"
            >
              <span>80% Complete </span>
            </div>
          </div>
        </div>
        </section>-->
