<ul class="list-group list-group-horizontal">
    <!--<a target="_blank" href="http://www.clarin.com">Ir a Clarin</a>-->
    <li class="list-group-item"><a target="_blank" href="http://www.instagram.com">
      <i class="fa-brands fa-instagram fa-2xl"></i></a>
    </li>
    <li class="list-group-item"><a target="_blank" href="http://www.linkedin.com">
      <i class="fa-brands fa-linkedin fa-2xl"></i></a>
    </li>
    <li class="list-group-item"><a target="_blank" href="http://www.facebook.com">
      <i class="fa-brands fa-facebook fa-2xl"></i></a>
    </li>
    <!-- Button trigger modal Botón para Loguearse -->
    <li class="list-group-item">
      <i
        class="fa-solid fa-user-lock fa-2xl"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
      </i>
    </li>
  </ul>
