      <!--Experiencia-->
      <section id="experiencia" class="experiencia">
        <h1 class="clh1">Experiencia</h1>
        <div class="container">
          <div class="row">
            <div class="col-2">
              <img
                id="imagen"
                src="assets/Logo Alcatel.jpg"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="col-1">
              <h3 class="clh3">Lorem ipsum.</h3>
            </div>
            <div class="col-9">
              <p class="clparrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                deleniti reprehenderit magnam nisi accusantium atque commodi
                quibusdam libero, tenetur doloribus natus iure iste quasi
                quaerat quod error ipsa ex. Maxime.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img
                id="imagen"
                src="assets/Logo Sofrecom.jpg"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="col-1">
              <h3 class="clh3">Lorem ipsum.</h3>
            </div>
            <div class="col-9">
              <p class="clparrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                deleniti reprehenderit magnam nisi accusantium atque commodi
                quibusdam libero, tenetur doloribus natus iure iste quasi
                quaerat quod error ipsa ex. Maxime.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img
                id="imagen"
                src="assets/Logo Telecom.jpg"
                class="img-fluid"
                alt="..."
              />
            </div>
            <div class="col-1">
              <h3 class="clh3">Lorem ipsum.</h3>
            </div>
            <div class="col-9">
              <p class="clparrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                deleniti reprehenderit magnam nisi accusantium atque commodi
                quibusdam libero, tenetur doloribus natus iure iste quasi
                quaerat quod error ipsa ex. Maxime.
              </p>
            </div>
          </div>
        </div>
      </section>
